.container{
    background-color: green;
    width: 500px;
    padding: 10px;
    float: left;
    /* margin: auto; */

}
.box1{
    background-color: pink;
    width: 100%;
    height: 40px;
    float: left;
}
.box2{
    background-color: white;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    float: left;
}
.box3{
    background-color: orange;
    width: 60%;
    /* height: 10px; */
    margin-top: 10px;
    float: left;
    padding: 10px 0px 10px 10px;

}
.box3-1{
    background-color: white;
    width: 93%;
    padding: 5px;
    float: left;
    margin-bottom: 10px;
}
.box3-1-1{
    background-color: blue;
    width: 68%;
    height: 90px;
    float: left;
}
.box3-1-2{
    background-color: black;
    width: 30%;
    height: 90px;
    float: left;
    margin-left: 5px;
}

.box4{
    background-color: yellow;
    width: 30%;
    margin-left: 4%;
    /* height: 10px; */
    margin-top: 10px;
    float: left;
    padding: 10px;
}
.box4-1{
    background-color: chocolate;
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
}